name: CI Demo
on: [push]
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: List files
        run: ls -la

      - name: list bin
        run: ls /bin

      - name: Print hello
        run: echo "Hello from GitHub Actions!"